/* some style */

/*
body {

    margin: 0;

    padding: 0;

    background: #010101;

    width: 100%;

    overflow: hidden;

}
*/

html, body, #cesiumContainer {
    width: 100%; height: 100%; margin: 0; padding: 0;
    overflow: hidden; font-family: sans-serif;
}
.controlPanel {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(42, 42, 42, 0.8);
    color: #edffff;
    white-space: nowrap;
    padding: 4px 8px;
    border-radius: 4px;
}

.flexControlPanel{
    background: rgba(42, 42, 42, 0.8);
    color: #edffff;
    white-space: nowrap;
    padding: 4px 8px;
    border-radius: 4px;
}

.header {
    background: rgba(42, 42, 42, 0.8);
    color: #edffff;
    white-space: nowrap;
    border-radius: 4px;
}

.controlPanelRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:    center;
    /*    width: 100%;
     position: absolute;
    top: 20px;
    left: 400px;
    left: 50%;*/
    background: rgba(42, 42, 42, 0.8);
    color: #edffff;
    white-space: nowrap;
    padding: 4px 8px;
    border-radius: 4px;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}
.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}
.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}
.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}
.my-legend a {
    color: #777;
}

.cesium-widget-credits{
    display:none !important;
}

.vega-embed {
    width: 100%;
    height: 100%;
}


canvas {
    width: 100%;
    height: auto; /*100%;*/
    /*display: block; */
    cursor: grab;
}


.table-entry {
    {animation: backgrounder 1s ease-in-out;
    }
}

@keyframes backgrounder {
    from {background-color: grey;}
    to {background-color: whitesmoke;}
}

.cesium-button {
  display: inline-block;
  position: relative;
  background: #303336;
  border: 1px solid #444;
  color: #edffff; /* For text buttons */
  fill: #edffff; /* For SVG buttons */
  border-radius: 4px;
  padding: 5px 12px;
  margin: 2px 3px;
  cursor: pointer;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cesium-button:focus {
  color: #fff; /* For text buttons */
  fill: #fff; /* For SVG buttons */
  border-color: #ea4;
  outline: none;
}

.cesium-button:hover {
  color: #fff; /* For text buttons */
  fill: #fff; /* For SVG buttons */
  background: #48b;
  border-color: #aef;
  box-shadow: 0 0 8px #fff;
}

.cesium-button:active {
  color: #000; /* For text buttons */
  fill: #000; /* For SVG buttons */
  background: #adf;
  border-color: #fff;
  box-shadow: 0 0 8px #fff;
}

.cesium-button:disabled,
.cesium-button-disabled,
.cesium-button-disabled:focus,
.cesium-button-disabled:hover,
.cesium-button-disabled:active {
  background: #303336;
  border-color: #444;
  color: #646464; /* For text buttons */
  fill: #646464; /* For SVG buttons */
  box-shadow: none;
  cursor: default;
}

.cesium-button option {
  background-color: #000;
  color: #eee;
}

.cesium-button option:disabled {
  color: #777;
}

.cesium-button input,
.cesium-button label {
  cursor: pointer;
}

.cesium-button input {
  vertical-align: sub;
}
